.profile {
  box-sizing: border-box;
  margin: 40px 200px 0 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1024px) {
  .profile {
    margin: 40px 100px 0 100px;
  }
}

@media (max-width: 768px) {
  .profile {
    margin: 42px 19px 0 19px;
    flex-direction: column;
  }
}
